node_modules
npm-debug.log
tmp.json
.DS_Store
/test-report.xml
/jest_0
.npmrc
.idea
.babelrc
babel.config.js
babel.ext.json
.gitlab-ci.yml
.github
.gitlab
.travis.yml
.eslintignore
.editorconfig
/coverage
/src
/docs
/public
/bundle-stats.html
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/CHANGELOG.md
sonar-project.properties
declination.json
rollup.config.js
/styleguide.config.js
/styleguide
/reports
/*.tgz
/lib/**/*.md
internals
**/tests/*.test.js
.ncurc.js
